<li class="js-stream-item stream-item stream-item expanding-stream-item" data-item-id="351718991712100352" id="stream-item-tweet-351718991712100352" data-item-type="tweet">
  <div class="tweet original-tweet js-stream-tweet js-actionable-tweet js-profile-popup-actionable js-original-tweet">

  <span class="icon dogear"></span>

  <div class="content">
    <div class="stream-item-header">
      <a  class="account-group js-account-group js-action-profile js-user-profile-link js-nav" href="#post/{{id}}">
        <img class="avatar js-action-profile-avatar" src="{{avatar}}" alt="{{name}}">
        <strong class="fullname js-action-profile-name show-popup-with-id">{{name}}</strong>
        <span>&rlm;</span><span class="username js-action-profile-name">{{twittifiedName}}</span>

      </a>

      <small class="time">
        <a href="#post/{{id}}" class="tweet-timestamp js-permalink js-nav" title="{{timestamp}}" ><span class="dateTime _timestamp js-short-timestamp js-relative-timestamp" title="{{timestamp}}" data-long-form="true">{{timestamp}}</span></a>
      </small>

    </div>

    <p class="js-tweet-text tweet-text">{{#recipient}}{{mentionName}} {{/recipient}}{{message}}</p>
    <div class="stream-item-footer">
      <a class="details with-icn js-details" href="#post/{{id}}">
        <span class="details-icon js-icon-container"></span>
        <b>
          {{^isDetailView}}<span class="expand-stream-item js-view-details">
            <span class="expand-action-wrapper">
              Expand
            </span>
          </span>{{/isDetailView}}
          {{#isDetailView}}<span class="collapse-stream-item js-hide-details">
            Collapse
          </span>{{/isDetailView}}
        </b>
      </a>

      <ul class="tweet-actions js-actions">
        <li class="action-reply-container">
          <a role="button" class="with-icn js-action-reply" data-modal="tweet-reply" href="{{commentLink}}" target="_blank">
            <span class="icon sm-reply"></span>
            <b>Reply</b>
          </a>
        </li>
        <li class="action-rt-container js-toggle-state js-toggle-rt">
          <a role="button" class="with-icn retweet" data-modal="tweet-retweet" href="#">
            <span class="icon sm-rt"></span>
            <b>Retweet</b>
          </a>
        </li>
        <li class="action-fav-container js-toggle-state js-toggle-fav">
          {{#likeable}}
          <a role="button" class="with-icn favorite like" href="#">
            <span class="icon sm-fav"></span>
            <b>Favorite</b>
          </a>
          {{/likeable}}
          {{^likeable}}
          <a role="button" class="with-icn unfavorite like" href="#" title="Undo favorite">
            <span class="icon sm-fav"></span>
            <b>Favorited</b>
          </a>
          {{/likeable}}
        </li>
      </ul>
    </div>

    <div class="expanded-content js-tweet-details-dropdown">
    </div>
  </div>
</div>
</li>