<div class="flex-module profile-summary js-profile-summary">
              <a href="#"
              class="account-summary account-summary-small">
              <div class="content">
                <div class="account-group js-mini-current-user" data-user-id="19924413" data-screen-name="whyaorta">
                  <img class="avatar size32" src="{{avatar}}">
                  <b class="fullname">{{name}}</b>
                  <small class="metadata">

                    View my profile page
                  </small>
                </div>
              </div>
            </a>
          </div>

<div class="js-mini-profile-stats-container hidden">
  <ul class="stats js-mini-profile-stats" data-user-id="19924413">
    <li><a class="js-nav" href="#">
      <strong>1,234</strong> Tweets
    </a></li>
    <li><a class="js-nav" href="#">
      <strong>195</strong> Following
    </a></li>
    <li><a class="js-nav" href="#">
      <strong>297</strong> Followers
    </a></li>
  </ul>

</div>