<div class="flex-module profile-summary js-profile-summary">
              <a href="#"
              class="account-summary account-summary-small">
              <div class="content">
                <div class="account-group js-mini-current-user" data-user-id="19924413" data-screen-name="whyaorta">
                  <img class="avatar size32" src="{{avatar}}">
                  <b class="fullname">{{name}}</b>
                  <small class="metadata">

                    View my profile page
                  </small>
                </div>
              </div>
            </a>
          </div>

<div class="js-mini-profile-stats-container hidden">
  <ul class="stats js-mini-profile-stats" data-user-id="19924413">
    <li><a class="js-nav" href="#">
      <strong>1,234</strong> Tweets
    </a></li>
    <li><a class="js-nav" href="#">
      <strong>195</strong> Following
    </a></li>
    <li><a class="js-nav" href="#">
      <strong>297</strong> Followers
    </a></li>
  </ul>

</div>

<!--   <div class="home-tweet-box tweet-box component tweet-user">
            <form class="tweet-form condensed "
            method="post"
            target="tweet-post-iframe"
            action="//upload.twitter.com/i/tweet/create_with_media.iframe"
            enctype="multipart/form-data">
            <input type="hidden" name="post_authenticity_token" class="auth-token">
            <input type="hidden" name="iframe_callback" class="iframe-callback">
            <input type="hidden" name="in_reply_to_status_id" class="in-reply-to-status-id">
            <input type="hidden" name="impression_id" class="impression-id">
            <input type="hidden" name="earned" class="earned">

            <img class="inline-reply-user-image avatar size32" src="AVATAR" alt="USERNAME">
            <span class="inline-reply-caret">
              <span class="caret-inner"></span>
            </span>

            <div class="tweet-content">
              <i class="add-photo-icon hidden"></i>
              <span class="tweet-drag-help tweet-drag-photo-here hidden">Drag photo here</span>
              <span class="tweet-drag-help tweet-or-drag-photo-here hidden">Or drag photo here</span>
              <label class="visuallyhidden" for="tweet-box-mini-home-profile">Tweet text</label>


              <div id="tweet-box-mini-home-profile" class="tweet-box rich-editor" contenteditable="true" spellcheck="true" role="textbox"
              aria-multiline="true"></div>
              <div class="rich-normalizer"></div>




              <div class="dropdown-menu typeahead">
                <div class="dropdown-caret">
                  <div class="caret-outer"></div>
                  <div class="caret-inner"></div>
                </div>
                <div class="dropdown-inner js-typeahead-results">
                  <div class="typeahead-saved-searches">
                    <ul class="typeahead-items saved-searches-list">

                      <li class="typeahead-item typeahead-saved-search-item"><a class="js-nav" href="" data-search-query="" data-query-source="" data-ds="saved_search" tabindex="-1"><span class="icon generic-search"></span></a></li>
                    </ul>
                  </div>

                  <ul class="typeahead-items typeahead-topics">

                    <li class="typeahead-item typeahead-topic-item">
                      <a class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-ds="topics" tabindex="-1">
                        <i class="generic-search"></i>
                      </a>
                    </li>
                  </ul>





                  <ul class="typeahead-items typeahead-accounts js-typeahead-accounts">

                    <li data-user-id="" data-user-screenname="" data-remote="true" data-score="" class="typeahead-item typeahead-account-item js-selectable">

                      <a class="js-nav" data-query-source="typeahead_click" data-search-query="" data-ds="account">
                        <img class="avatar size24">
                        <div class="typeahead-user-item-info">
                          <span class="fullname"></span>
                          <span class="js-verified hidden"><span class="icon verified"><span class="visuallyhidden">Verified account</span></span></span>
                          <span class="username"><s>@</s><b></b></span>
                        </div>
                      </a>
                    </li>
                    <li class="js-selectable typeahead-accounts-shortcut js-shortcut"><a class="js-nav" href="" data-search-query="" data-query-source="typeahead_click" data-shortcut="true" data-ds="account_search"></a></li>
                  </ul>

                  <ul class="typeahead-items typeahead-trend-locations-list">

                    <li class="typeahead-item typeahead-trend-locations-item"><a class="js-nav" href="" data-ds="trend_location" data-search-query="" tabindex="-1"></a></li>
                  </ul>
                  <ul class="typeahead-items typeahead-context-list">

                    <li class="typeahead-item typeahead-context-item"><a class="js-nav" href="" data-ds="context_helper" data-search-query="" tabindex="-1"></a></li>
                  </ul>
                </div>
              </div>



              <textarea class="tweet-box-shadow" name="status"></textarea>


              <div class="thumbnail-container">
                <div class="preview">
                  <a class="dismiss js-dismiss" href="#" tabindex="-1"><i class="dismiss-white"></i></a>

                  <span class="filename"></span>
                </div>
                <div class="preview-message">Image will appear as a link</div>
              </div>

            </div>

            <div class="toolbar js-toolbar">
              <div class="tweet-box-extras">

                <div class="photo-selector">
                  <button aria-hidden="true" class="btn" type="button" tabindex="-1">
                    <i class="tweet-camera"></i>
                  </button>
                  <div class="image-selector">
                    <input type="hidden" name="media_data_empty" class="file-data">
                    <label>
                      <span class="visuallyhidden">Add Photo</span>
                      <input type="file" name="media_empty" class="file-input" tabindex="-1">
                    </label>
                    <div class="swf-container"></div>
                  </div>
                </div>

                <div class="geo-picker">
                  <button class="btn geo-picker-btn" type="button" tabindex="-1">
                    <i class="tweet-geo"><span class="visuallyhidden">Add location</span></i> <span class="caret"></span>
                  </button>
                  <span class="dropdown-container"></span>
                  <span class="geo-status"></span>
                  <input type="hidden" name="place_id">
                </div>


              </div>
              <div class="tweet-button">
                <span class="spinner"></span>
                <span class="tweet-counter">140</span>
                <button class="btn primary-btn tweet-action disabled" type="button">Tweet</button>
              </div>
            </div>
          </form>

        </div>
      </div>
-->