<link rel="stylesheet" href="templates/welcome/stylesheets/welcome.css">

<a href="https://github.com/lazerwalker/fbchan"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:9999" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<div class='header-container'>
  <div class='header'>
    <img class='header-logo' src="templates/welcome/img/fbchanlogo.png"/>
  </div>
</div>

<div class='main-container'>
  <div class='main'>
    <div class='left'>
      <h2>FBchan helps you connect and share with the people in your life.</h2>

      <img src="templates/welcome/img/map.png"/>

          <h2>By making Facebook look like 4chan.</h1>

    </div>

    <div class='right'>
      <h1>FBChan</h1>

      <p>FBchan is a web-based Facebook client that lets you browse and interact with
        your news stream as if it were Twitter, 4chan, or another social network. It presents an online space that is simultaneously familiar and unsettling.</p>

        <p>To get started, you'll need to authenticate with Facebook Connect.</p>

        <button id='login-button'>Log In</button>

        <p>FBchan is completely powered by your web browser, so your private data never touches our servers.</p>
    </div>

    <div class='clearfix'></div>
  </div>
</div>

<div class='footer-container'>
  <div class='footer'>
    © 2013 Mike Walker · <a href="http://lazerwalker.com">lazerwalker.com
  </div>
</div>