.postMessage img {
  max-width: 300px;
}

.replylink {
  cursor: pointer;
}

#loading {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.partial-loading {
  text-align: center;
}