<div id='intro'>
<p>
  Welcome to FBChan!
</p>

<p>
  To get started, you'll need to log in with Facebook Connect.
</p>

<div><a class='login'>Log In</a></div>

<p>Suspicious that FBChan will steal or access your Facebook data?
FBchan is an app run completely out of your web browser; your Facebook data never
hits our servers. The project is <a href="http://github.com/lazerwalker.com/fbchan">open source</a>, so you can
check for yourself or run your own copy of the site if you don't believe us.</p>
</div>