<div class="postContainer replyContainer">
  <div class="sideArrows">&gt;&gt;
  </div>
  <div class="post reply">
    <div class="postInfo desktop">
      <input type="checkbox" name="{{id}}" value="delete">
      <span class="subject">
      </span>
      <span class="nameBlock">
        <span class="name">{{name}}
        </span>
        <span class="posteruid">(ID:
          <span class="hand" title="Highlight posts by this ID">{{uid}}
          </span>)
        </span>
      </span>
    </div>
    <blockquote class="postMessage">
      LIKE.
    </blockquote>
  </div>
</div>