<div class="thread">
  <div class="postContainer opContainer">
    <div class="post op">
      <div class="file">
        <div class="fileInfo">
          <span class="fileText">File:
            <a href="#" target="_blank">{{uid}}.png
            </a>-()
            <span title="{{id}}">{{id}}
            </span>)
          </span>
        </div>
        <a class="fileThumb" href="{{avatar}}" target="_blank">
          <img src="{{avatar}}" style="height: 206px; width: 250px;">
        </a>
      </div>
      <div class="postInfo desktop">
        <input type="checkbox" name="{{id}}" value="delete">
        <span class="subject">
        </span>
        <span class="nameBlock">
          <span class="name">{{name}}{{#recipient}} &rsaquo; {{recipient}}{{/recipient}}
          </span>
          <span class="posteruid">(ID:
            <span class="hand" title="Highlight posts by this ID">{{uid}}
            </span>)
          </span>
        </span>
        <span class="dateTime">{{timestamp}}
        </span>
        <span class="postNum">
          No.
          <a href="#" title="Quote this post">{{id}}
          </a> &nbsp;
          <span>[<a class="comment replylink">Comment</a>&nbsp;|&nbsp;{{#likeable}}<a href="#" class="like replylink">Like</a>{{/likeable}}{{^likeable}}Liked{{/likeable}}]
          </span>
        </span>
      </div>
      <blockquote class="postMessage">
        {{#picture}}<img src='{{picture}}' alt='{{message}}'/>{{/picture}}

        {{#link}}
          <a href='{{link}}' alt='{{linkName}}'>{{linkName}}</a>
          <br/>
          {{#description}}{{description}}{{/description}}
        {{/link}}
        <br/>
        {{message}}
      </blockquote>
    </div>
    <span class="summary desktop">{{#hiddenContent}}{{hiddenCommentCount}} comments and {{hiddenLikeCount}} likes omitted. {{/hiddenContent}}Click
      <a href="#" class="replylink">here
      </a> to view.
    </span>
  </div>
  {{#comments}}{{{.}}}{{/comments}}
  {{#likes}}{{{.}}}{{/likes}}
</div>
</div>

</div>
<hr style='clear:both'>