<div class="thread" id="t474285257">
  <div class="postContainer opContainer" id="pc474285257">
    <div id="p474285257" class="post op">
      <div class="postInfoM mobile" id="pim474285257">
        <span class="nameBlock">
          <span class="name">Anonymous
          </span>
          <span class="posteruid id_kQie7M3k">(ID:
            <span class="hand" title="Highlight posts by this ID">kQie7M3k
            </span>)
          </span>
          <br>
          <span class="subject">
          </span>
        </span>
        <span class="dateTime postNum" data-utc="1366508746">04/20/13(Sat)21:45:46
          <a href="res/474285257#p474285257">No.
          </a>
          <a href="res/474285257#q474285257" title="Quote this post">474285257
          </a>
        </span>
      </div>
      <div class="file" id="f474285257">
        <div class="fileInfo">
          <span class="fileText" id="fT474285257">File:
            <a href="//images.4chan.org/b/src/1366508746946.png" target="_blank">1366508746946.png
            </a>-(7 KB, 279x230,
            <span title="1261052753109-1.png">1261052753109-1.png
            </span>)
          </span>
        </div>
        <a class="fileThumb" href="//images.4chan.org/b/src/1366508746946.png" target="_blank">
          <img src="//1.thumbs.4chan.org/b/thumb/1366508746946s.jpg" alt="7 KB" data-md5="3c3bWt1T2RFTGOyLErb9oA==" style="height: 206px; width: 250px;">
          <div class="mFileInfo mobile">7 KB PNG
          </div>
        </a>
      </div>
      <div class="postInfo desktop" id="pi474285257">
        <input type="checkbox" name="474285257" value="delete">
        <span class="subject">
        </span>
        <span class="nameBlock">
          <span class="name">Anonymous
          </span>
          <span class="posteruid id_kQie7M3k">(ID:
            <span class="hand" title="Highlight posts by this ID">kQie7M3k
            </span>)
          </span>
        </span>
        <span class="dateTime" data-utc="1366508746">04/20/13(Sat)21:45:46
        </span>
        <span class="postNum">
          <a href="res/474285257#p474285257" title="Highlight this post">No.
          </a>
          <a href="res/474285257#q474285257" title="Quote this post">474285257
          </a> &nbsp;
          <span>[
            <a href="res/474285257" class="replylink">Reply
            </a>]
          </span>
        </span>
      </div>
      <blockquote class="postMessage" id="m474285257">
        Go out at lunch alone every day &amp; sing along to metal music thats blasting in my ears regardless of if I&#039;m alone or not.
      </blockquote>
    </div>
  </div>
  <span class="summary desktop">47 posts and 3 image replies omitted. Click
    <a href="res/474285257" class="replylink">here
    </a> to view.
  </span>
  </div>

  </div>
</div>
<hr>