<div class="thread">
  <div class="postContainer opContainer">
    <div class="post op">
      <div class="file">
        <div class="fileInfo">
          <span class="fileText">File:
            <a href="#post/{{id}}">{{id}}.png
            </a>-()
            <span title="{{id}}">{{id}}
            </span>)
          </span>
        </div>
        <a class="fileThumb" href="{{avatar}}" target="_blank">
          <img src="{{avatar}}" style="height: 206px; width: 250px;">
        </a>
      </div>
      <div class="postInfo desktop">
        <input type="checkbox" name="{{id}}" value="delete">
        <span class="subject">
        </span>
        <span class="nameBlock">
          <span class="name">{{name}}{{#recipient}} &rsaquo; {{recipient}}{{/recipient}}
          </span>
          <span class="posteruid">(ID:
            <span class="hand" title="Highlight posts by this ID">{{uid}}
            </span>)
          </span>
        </span>
        <span class="dateTime" title="{{timestamp}}">{{timestamp}}
        </span>&nbsp;
        <span class="postNum">
          <span>[<a class="comment replylink" href="{{commentLink}}" target='_blank'>Comment</a>&nbsp;|&nbsp;{{#likeable}}<a class="like replylink">Like</a>{{/likeable}}{{^likeable}}Liked{{/likeable}}]
          </span>
        </span>
      </div>
      <blockquote class="postMessage">
        {{#picture}}<img src='{{picture}}' alt='{{message}}'/>{{/picture}}

        {{#link}}
          <a href='{{link}}' alt='{{linkName}}'>{{linkName}}</a>
          <br/>
          {{#description}}{{description}}{{/description}}
        {{/link}}
        <br/>
        {{message}}
      </blockquote>
    </div>
    {{^isDetailView}}<span class="summary desktop">{{#hiddenContent}}{{hiddenCommentCount}} and {{hiddenLikeCount}} omitted. {{/hiddenContent}}Click
      <a href="#post/{{id}}" class="replylink">here
      </a> to view.
    </span>{{/isDetailView}}
  </div>
  {{#commentsAndLikes}}{{{.}}}{{/commentsAndLikes}}
</div>
</div>

</div>
<hr style='clear:both'>