<div class="postContainer replyContainer" id="pc474289550">
  <div class="sideArrows" id="sa474289550">&gt;&gt;
  </div>
  <div id="p474289550" class="post reply">
    <div class="postInfoM mobile" id="pim474289550">
      <span class="nameBlock">
        <span class="name">Anonymous
        </span>
        <span class="posteruid id_FbcAeRe7">(ID:
          <span class="hand" title="Highlight posts by this ID">FbcAeRe7
          </span>)
        </span>
        <br>
        <span class="subject">
        </span>
      </span>
      <span class="dateTime postNum" data-utc="1366510274">04/20/13(Sat)22:11:14
        <a href="res/474285257#p474289550">No.
        </a>
        <a href="res/474285257#q474289550" title="Quote this post">474289550
        </a>
      </span>
    </div>
    <div class="postInfo desktop" id="pi474289550">
      <input type="checkbox" name="474289550" value="delete">
      <span class="subject">
      </span>
      <span class="nameBlock">
        <span class="name">Anonymous
        </span>
        <span class="posteruid id_FbcAeRe7">(ID:
          <span class="hand" title="Highlight posts by this ID">FbcAeRe7
          </span>)
        </span>
      </span>
      <span class="dateTime" data-utc="1366510274">04/20/13(Sat)22:11:14
      </span>
      <span class="postNum desktop">
        <a href="res/474285257#p474289550" title="Highlight this post">No.
        </a>
        <a href="res/474285257#q474289550" title="Quote this post">474289550
        </a>
      </span>
    </div>
    <blockquote class="postMessage" id="m474289550">
      <a href="res/474285257#p474289328" class="quotelink">&gt;&gt;474289328
      </a>
      <br>No. Never heard of it.
      <br>
      <br>I just assume my step brother does it. He owns a metal label and all that.
    </blockquote>
  </div>
</div>