<div>
  <span id="id_css">
  </span>
  <div id="boardNavDesktop" class="desktop">    [
    <a href="//boards.4chan.org/a/" title="Anime & Manga">a
    </a> /
    <a href="//boards.4chan.org/b/" title="Random">b
    </a> /
    <a href="//boards.4chan.org/c/" title="Anime/Cute">c
    </a> /
    <a href="//boards.4chan.org/d/" title="Hentai/Alternative">d
    </a> /
    <a href="//boards.4chan.org/e/" title="Ecchi">e
    </a> /
    <a href="//boards.4chan.org/f/" title="Flash">f
    </a> /
    <a href="//boards.4chan.org/g/" title="Technology">g
    </a> /
    <a href="//boards.4chan.org/gif/" title="Adult GIF">gif
    </a> /
    <a href="//boards.4chan.org/h/" title="Hentai">h
    </a> /
    <a href="//boards.4chan.org/hr/" title="High Resolution">hr
    </a> /
    <a href="//boards.4chan.org/k/" title="Weapons">k
    </a> /
    <a href="//boards.4chan.org/m/" title="Mecha">m
    </a> /
    <a href="//boards.4chan.org/o/" title="Auto">o
    </a> /
    <a href="//boards.4chan.org/p/" title="Photo">p
    </a> /
    <a href="//boards.4chan.org/r/" title="Request">r
    </a> /
    <a href="//boards.4chan.org/s/" title="Sexy Beautiful Women">s
    </a> /
    <a href="//boards.4chan.org/t/" title="Torrents">t
    </a> /
    <a href="//boards.4chan.org/u/" title="Yuri">u
    </a> /
    <a href="//boards.4chan.org/v/" title="Video Games">v
    </a> /
    <a href="//boards.4chan.org/vg/" title="Video Game Generals">vg
    </a> /
    <a href="//boards.4chan.org/vr/" title="Retro Games">vr
    </a> /
    <a href="//boards.4chan.org/w/" title="Anime/Wallpapers">w
    </a> /
    <a href="//boards.4chan.org/wg/" title="Wallpapers/General">wg
    </a>] [
    <a href="//boards.4chan.org/i/" title="Oekaki">i
    </a> /
    <a href="//boards.4chan.org/ic/" title="Artwork/Critique">ic
    </a>] [
    <a href="//boards.4chan.org/r9k/" title="ROBOT9001">r9k
    </a>] [
    <a href="//boards.4chan.org/s4s/" title="Shit 4chan Says">s4s
    </a>] [
    <a href="//boards.4chan.org/cm/" title="Cute/Male">cm
    </a> /
    <a href="//boards.4chan.org/hm/" title="Handsome Men">hm
    </a> /
    <a href="//boards.4chan.org/lgbt/" title="LGBT">lgbt
    </a> /
    <a href="//boards.4chan.org/y/" title="Yaoi">y
    </a>] [
    <a href="//boards.4chan.org/3/" title="3DCG">3
    </a> /
    <a href="//boards.4chan.org/adv/" title="Advice">adv
    </a> /
    <a href="//boards.4chan.org/an/" title="Animals & Nature">an
    </a> /
    <a href="//boards.4chan.org/asp/" title="Alternative Sports">asp
    </a> /
    <a href="//boards.4chan.org/cgl/" title="Cosplay & EGL">cgl
    </a> /
    <a href="//boards.4chan.org/ck/" title="Food & Cooking">ck
    </a> /
    <a href="//boards.4chan.org/co/" title="Comics & Cartoons">co
    </a> /
    <a href="//boards.4chan.org/diy/" title="Do-It-Yourself">diy
    </a> /
    <a href="//boards.4chan.org/fa/" title="Fashion">fa
    </a> /
    <a href="//boards.4chan.org/fit/" title="Health & Fitness">fit
    </a> /
    <a href="//boards.4chan.org/gd/" title="Graphic Design">gd
    </a> /
    <a href="//boards.4chan.org/hc/" title="Hardcore">hc
    </a> /
    <a href="//boards.4chan.org/int/" title="International">int
    </a> /
    <a href="//boards.4chan.org/jp/" title="Otaku Culture">jp
    </a> /
    <a href="//boards.4chan.org/lit/" title="Literature">lit
    </a> /
    <a href="//boards.4chan.org/mlp/" title="Pony">mlp
    </a> /
    <a href="//boards.4chan.org/mu/" title="Music">mu
    </a> /
    <a href="//boards.4chan.org/n/" title="Transportation">n
    </a> /
    <a href="//boards.4chan.org/out/" title="Outdoors">out
    </a> /
    <a href="//boards.4chan.org/po/" title="Papercraft & Origami">po
    </a> /
    <a href="//boards.4chan.org/pol/" title="Politically Incorrect">pol
    </a> /
    <a href="//boards.4chan.org/sci/" title="Science & Math">sci
    </a> /
    <a href="//boards.4chan.org/soc/" title="Social">soc
    </a> /
    <a href="//boards.4chan.org/sp/" title="Sports">sp
    </a> /
    <a href="//boards.4chan.org/tg/" title="Traditional Games">tg
    </a> /
    <a href="//boards.4chan.org/toy/" title="Toys">toy
    </a> /
    <a href="//boards.4chan.org/trv/" title="Travel">trv
    </a> /
    <a href="//boards.4chan.org/tv/" title="Television & Film">tv
    </a> /
    <a href="//boards.4chan.org/vp/" title="Pok&eacute;mon">vp
    </a> /
    <a href="//boards.4chan.org/wsg/" title="Worksafe GIF">wsg
    </a> /
    <a href="//boards.4chan.org/x/" title="Paranormal">x
    </a>] [
    <a href="//rs.4chan.org/" title="Fileshares">rs
    </a>] [
    <a href="http://status.4chan.org/" title="4chan Status">status
    </a> /
    <a href="//boards.4chan.org/q/" title="4chan Discussion">q
    </a> /
    <span class="navSmall">
      <a href="//twitter.com/4chan" title="4chan Twitter">@
      </a>
    </span>]
    <span id="navtopright">[
      <a href="javascript:void(0);" id="settingsWindowLink">Settings
      </a>] [
      <a href="//www.4chan.org/" target="_top">Home
      </a>]
    </span>
  </div>
  <div id="boardNavMobile" class="mobile">
    <div class="boardSelect">
      <strong>Board
      </strong>
      <select id="boardSelectMobile">
        <option value="a">/a/ - Anime &amp; Manga
        </option>
        <option value="adv">/adv/ - Advice
        </option>
        <option value="an">/an/ - Animals &amp; Nature
        </option>
        <option value="asp">/asp/ - Alternative Sports
        </option>
        <option value="b">/b/ - Random
        </option>
        <option value="c">/c/ - Anime/Cute
        </option>
        <option value="cgl">/cgl/ - Cosplay &amp; EGL
        </option>
        <option value="ck">/ck/ - Food &amp; Cooking
        </option>
        <option value="cm">/cm/ - Cute/Male
        </option>
        <option value="co">/co/ - Comics &amp; Cartoons
        </option>
        <option value="d">/d/ - Hentai/Alternative
        </option>
        <option value="diy">/diy/ - Do-It-Yourself
        </option>
        <option value="e">/e/ - Ecchi
        </option>
        <option value="f">/f/ - Flash
        </option>
        <option value="fa">/fa/ - Fashion
        </option>
        <option value="fit">/fit/ - Health &amp; Fitness
        </option>
        <option value="g">/g/ - Technology
        </option>
        <option value="gd">/gd/ - Graphic Design
        </option>
        <option value="gif">/gif/ - Animated GIF
        </option>
        <option value="h">/h/ - Hentai
        </option>
        <option value="hc">/hc/ - Hardcore
        </option>
        <option value="hm">/hm/ - Handsome Men
        </option>
        <option value="i">/i/ - Oekaki
        </option>
        <option value="ic">/ic/ - Art/Critique
        </option>
        <option value="hr">/hr/ - High Resolution
        </option>
        <option value="int">/int/ - International
        </option>
        <option value="jp">/jp/ - Otaku Culture
        </option>
        <option value="k">/k/ - Weapons
        </option>
        <option value="lit">/lit/ - Literature
        </option>
        <option value="lgbt">/lgbt/ - LGBT
        </option>
        <option value="m">/m/ - Mecha
        </option>
        <option value="mlp">/mlp/ - Pony
        </option>
        <option value="mu">/mu/ - Music
        </option>
        <option value="n">/n/ - Transportation
        </option>
        <option value="o">/o/ - Auto
        </option>
        <option value="out">/out/ - Outdoors
        </option>
        <option value="p">/p/ - Photography
        </option>
        <option value="po">/po/ - Papercraft &amp; Origami
        </option>
        <option value="pol">/pol/ - Politically Incorrect
        </option>
        <option value="q">/q/ - 4chan Discussion
        </option>
        <option value="r">/r/ - Request
        </option>
        <option value="r9k">/r9k/ - ROBOT9001
        </option>
        <option value="s4s">/s4s/ - Shit 4chan Says
        </option>
        <option value="s">/s/ - Sexy Beautiful Women
        </option>
        <option value="sci">/sci/ - Science &amp; Math
        </option>
        <option value="soc">/soc/ - Social
        </option>
        <option value="sp">/sp/ - Sports
        </option>
        <option value="t">/t/ - Torrents
        </option>
        <option value="tg">/tg/ - Traditional Games
        </option>
        <option value="toy">/toy/ - Toys
        </option>
        <option value="trv">/trv/ - Travel
        </option>
        <option value="tv">/tv/ - Television &amp; Film
        </option>
        <option value="u">/u/ - Yuri
        </option>
        <option value="v">/v/ - Video Games
        </option>
        <option value="vg">/vg/ - Video Game Generals
        </option>
        <option value="vp">/vp/ - Pokémon
        </option>
        <option value="vr">/vr/ - Retro Games
        </option>
        <option value="w">/w/ - Anime/Wallpapers
        </option>
        <option value="wg">/wg/ - Wallpapers/General
        </option>
        <option value="wsg">/wsg/ - Worksafe GIF
        </option>
        <option value="x">/x/ - Paranormal
        </option>
        <option value="y">/y/ - Yaoi
        </option>
        <option value="3">/3/ - 3DCG
        </option>
      </select>
    </div>
    <div class="pageJump">
      <a href="#bottom">&#9660;
      </a>
      <a href="javascript:void(0);" id="settingsWindowLinkMobile">Settings
      </a>
      <a href="//www.4chan.org" target="_top">Home
      </a>
    </div>
  </div>
  <div class="boardBanner">
    <img class="title" src="//static.4chan.org/image/title/86.gif" alt="4chan">
    <div class="boardTitle">/b/ - Random
    </div>
    <div class="boardSubtitle">The stories and information posted here are artistic works of fiction and falsehood.
      <br>Only a fool would take anything posted here as fact.
    </div>
  </div>
    <hr>
    <form name="delform" id="delform" action="https://sys.4chan.org/b/imgboard.php" method="post">
      <div class="board" id='content'>

      </div>
      <hr>
      <div class="mobile" style="text-align: center;">
        <a class="mobilePostFormToggle button" href="javascript:toggleMobilePostForm(0, 1);">Start a Thread
        </a>
      </div>
    </div>
    <div class="navLinks navLinksBot mobile" style="margin-top: 10px;">
      <span class="mobileib button">
        <a href="#top">Top
        </a>
      </span>
      <span class="mobileib button">
        <a href="#bottom_r" id="refresh_bottom" onmouseup="javascript:locationHashChanged(this);">Refresh
        </a>
      </span>
    </div>
    <hr class="mobile">
    <div style="float: right;">
      <div class="deleteform desktop">
        <input type="hidden" name="mode" value="usrdel">Delete Post [
        <input type="checkbox" name="onlyimgdel" value="on">File Only] Password
        <input type="password" id="delPassword" name="pwd" maxlength="8">
        <input type="submit" value="Delete">
        <input type="button" value="Report" onclick="var o=document.getElementsByTagName('input');for(var i=0;i
        <o.length;i++)if(o[i].type=='checkbox' && o[i].checked && o[i].value=='delete') return reppop('https://sys.4chan.org/b/imgboard.php?mode=report&amp;no='+o[i].name.replace(/[a-z]+/,'')+'');">
      </div>
      <div class="stylechanger desktop">Style
        <select id="styleSelector">
          <option value="Yotsuba New">Yotsuba
          </option>
          <option value="Yotsuba B New">Yotsuba B
          </option>
          <option value="Futaba New">Futaba
          </option>
          <option value="Burichan New">Burichan
          </option>
          <option value="Tomorrow">Tomorrow
          </option>
          <option value="Photon">Photon
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="pagelist desktop">
    <div class="prev">
      <span>Previous
      </span>
    </div>
    <div class="pages">[
      <strong>
        <a href="">0
        </a>
      </strong>] [
      <a href="1">1
      </a>] [
      <a href="2">2
      </a>] [
      <a href="3">3
      </a>] [
      <a href="4">4
      </a>] [
      <a href="5">5
      </a>] [
      <a href="6">6
      </a>] [
      <a href="7">7
      </a>] [
      <a href="8">8
      </a>] [
      <a href="9">9
      </a>] [
      <a href="10">10
      </a>] [
      <a href="11">11
      </a>] [
      <a href="12">12
      </a>] [
      <a href="13">13
      </a>] [
      <a href="14">14
      </a>] [
      <a href="15">15
      </a>]
    </div>
    <div class="next">
      <form action="1" onsubmit="location=this.action; return false;">
        <input type="submit" value="Next" accesskey="x">
      </form>
    </div>
    <div class="pages cataloglink">
      <a href="//boards.4chan.org/b/catalog">Catalog
      </a>
    </div>
  </div>
  <div class="mPagelist mobile">
    <div class="pages">
      <span>[
        <strong>
          <a href="">0
          </a>
        </strong>]
      </span>
      <span>[
        <a href="1">1
        </a>]
      </span>
      <span>[
        <a href="2">2
        </a>]
      </span>
      <span>[
        <a href="3">3
        </a>]
      </span>
      <span>[
        <a href="4">4
        </a>]
      </span>
      <span>[
        <a href="5">5
        </a>]
      </span>
      <span>[
        <a href="6">6
        </a>]
      </span>
      <span>[
        <a href="7">7
        </a>]
      </span>
      <span>[
        <a href="8">8
        </a>]
      </span>
      <span>[
        <a href="9">9
        </a>]
      </span>
      <span>[
        <a href="10">10
        </a>]
      </span>
      <span>[
        <a href="11">11
        </a>]
      </span>
      <span>[
        <a href="12">12
        </a>]
      </span>
      <span>[
        <a href="13">13
        </a>]
      </span>
      <span>[
        <a href="14">14
        </a>]
      </span>
      <span>[
        <a href="15">15
        </a>]
      </span>
      <span style="clear: both; margin-top: 10px; display: block">[
        <a href="./catalog">Catalog
        </a>]
      </span>
    </div>
    <div class="prev">Previous
    </div>
    <div class="next">
      <a href="1" class="button">Next
      </a>
    </div>
  </div>
  <div id="boardNavDesktopFoot" class="desktop">[
    <a href="//boards.4chan.org/a/" title="Anime & Manga">a
    </a> /
    <a href="//boards.4chan.org/b/" title="Random">b
    </a> /
    <a href="//boards.4chan.org/c/" title="Anime/Cute">c
    </a> /
    <a href="//boards.4chan.org/d/" title="Hentai/Alternative">d
    </a> /
    <a href="//boards.4chan.org/e/" title="Ecchi">e
    </a> /
    <a href="//boards.4chan.org/f/" title="Flash">f
    </a> /
    <a href="//boards.4chan.org/g/" title="Technology">g
    </a> /
    <a href="//boards.4chan.org/gif/" title="Adult GIF">gif
    </a> /
    <a href="//boards.4chan.org/h/" title="Hentai">h
    </a> /
    <a href="//boards.4chan.org/hr/" title="High Resolution">hr
    </a> /
    <a href="//boards.4chan.org/k/" title="Weapons">k
    </a> /
    <a href="//boards.4chan.org/m/" title="Mecha">m
    </a> /
    <a href="//boards.4chan.org/o/" title="Auto">o
    </a> /
    <a href="//boards.4chan.org/p/" title="Photo">p
    </a> /
    <a href="//boards.4chan.org/r/" title="Request">r
    </a> /
    <a href="//boards.4chan.org/s/" title="Sexy Beautiful Women">s
    </a> /
    <a href="//boards.4chan.org/t/" title="Torrents">t
    </a> /
    <a href="//boards.4chan.org/u/" title="Yuri">u
    </a> /
    <a href="//boards.4chan.org/v/" title="Video Games">v
    </a> /
    <a href="//boards.4chan.org/vg/" title="Video Game Generals">vg
    </a> /
    <a href="//boards.4chan.org/vr/" title="Retro Games">vr
    </a> /
    <a href="//boards.4chan.org/w/" title="Anime/Wallpapers">w
    </a> /
    <a href="//boards.4chan.org/wg/" title="Wallpapers/General">wg
    </a>] [
    <a href="//boards.4chan.org/i/" title="Oekaki">i
    </a> /
    <a href="//boards.4chan.org/ic/" title="Artwork/Critique">ic
    </a>] [
    <a href="//boards.4chan.org/r9k/" title="ROBOT9001">r9k
    </a>] [
    <a href="//boards.4chan.org/s4s/" title="Shit 4chan Says">s4s
    </a>] [
    <a href="//boards.4chan.org/cm/" title="Cute/Male">cm
    </a> /
    <a href="//boards.4chan.org/hm/" title="Handsome Men">hm
    </a> /
    <a href="//boards.4chan.org/lgbt/" title="LGBT">lgbt
    </a> /
    <a href="//boards.4chan.org/y/" title="Yaoi">y
    </a>] [
    <a href="//boards.4chan.org/3/" title="3DCG">3
    </a> /
    <a href="//boards.4chan.org/adv/" title="Advice">adv
    </a> /
    <a href="//boards.4chan.org/an/" title="Animals & Nature">an
    </a> /
    <a href="//boards.4chan.org/asp/" title="Alternative Sports">asp
    </a> /
    <a href="//boards.4chan.org/cgl/" title="Cosplay & EGL">cgl
    </a> /
    <a href="//boards.4chan.org/ck/" title="Food & Cooking">ck
    </a> /
    <a href="//boards.4chan.org/co/" title="Comics & Cartoons">co
    </a> /
    <a href="//boards.4chan.org/diy/" title="Do-It-Yourself">diy
    </a> /
    <a href="//boards.4chan.org/fa/" title="Fashion">fa
    </a> /
    <a href="//boards.4chan.org/fit/" title="Health & Fitness">fit
    </a> /
    <a href="//boards.4chan.org/gd/" title="Graphic Design">gd
    </a> /
    <a href="//boards.4chan.org/hc/" title="Hardcore">hc
    </a> /
    <a href="//boards.4chan.org/int/" title="International">int
    </a> /
    <a href="//boards.4chan.org/jp/" title="Otaku Culture">jp
    </a> /
    <a href="//boards.4chan.org/lit/" title="Literature">lit
    </a> /
    <a href="//boards.4chan.org/mlp/" title="Pony">mlp
    </a> /
    <a href="//boards.4chan.org/mu/" title="Music">mu
    </a> /
    <a href="//boards.4chan.org/n/" title="Transportation">n
    </a> /
    <a href="//boards.4chan.org/out/" title="Outdoors">out
    </a> /
    <a href="//boards.4chan.org/po/" title="Papercraft & Origami">po
    </a> /
    <a href="//boards.4chan.org/pol/" title="Politically Incorrect">pol
    </a> /
    <a href="//boards.4chan.org/sci/" title="Science & Math">sci
    </a> /
    <a href="//boards.4chan.org/soc/" title="Social">soc
    </a> /
    <a href="//boards.4chan.org/sp/" title="Sports">sp
    </a> /
    <a href="//boards.4chan.org/tg/" title="Traditional Games">tg
    </a> /
    <a href="//boards.4chan.org/toy/" title="Toys">toy
    </a> /
    <a href="//boards.4chan.org/trv/" title="Travel">trv
    </a> /
    <a href="//boards.4chan.org/tv/" title="Television & Film">tv
    </a> /
    <a href="//boards.4chan.org/vp/" title="Pok&eacute;mon">vp
    </a> /
    <a href="//boards.4chan.org/wsg/" title="Worksafe GIF">wsg
    </a> /
    <a href="//boards.4chan.org/x/" title="Paranormal">x
    </a>] [
    <a href="//rs.4chan.org/" title="Fileshares">rs
    </a>] [
    <a href="http://status.4chan.org/" title="4chan Status">status
    </a> /
    <a href="//boards.4chan.org/q/" title="4chan Discussion">q
    </a> /
    <span class="navSmall">
      <a href="//twitter.com/4chan" title="4chan Twitter">@
      </a>
    </span>]
    <span id="navbotright">[
      <a href="javascript:void(0);" id="settingsWindowLinkBot">Settings
      </a>] [
      <a href="//www.4chan.org/" target="_top">Home
      </a>]
    </span>
  </div>
  <div id="absbot" class="absBotText">
    <div class="mobile">
      <span id="disable-mobile">[
        <a href="javascript:disableMobile();">Disable Mobile View / Use Desktop Site
        </a>]
        <br>
        <br>
      </span>
      <span id="enable-mobile">[
        <a href="javascript:enableMobile();">Enable Mobile View / Use Mobile Site
        </a>]
        <br>
        <br>
      </span>
    </div>
    <span class="absBotDisclaimer">-
      <a href="http://www.2chan.net/" target="_top" rel="nofollow">futaba
      </a> +
      <a href="//www.4chan.org/" target="_top">yotsuba
      </a> -
      <br>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
    </span>
  </div>
</div>
<div id="bottom">
</div>
</div>