<div>
  <span id="id_css">
  </span>
  <div id="boardNavDesktop" class="desktop">    [
    <a href="//boards.4chan.org/a/" title="Anime & Manga">a
    </a> /
    <a href="//boards.4chan.org/b/" title="Random">b
    </a> /
    <a href="//boards.4chan.org/c/" title="Anime/Cute">c
    </a> /
    <a href="//boards.4chan.org/d/" title="Hentai/Alternative">d
    </a> /
    <a href="//boards.4chan.org/e/" title="Ecchi">e
    </a> /
    <a href="//boards.4chan.org/f/" title="Flash">f
    </a> /
    <a href="//boards.4chan.org/g/" title="Technology">g
    </a> /
    <a href="//boards.4chan.org/gif/" title="Adult GIF">gif
    </a> /
    <a href="//boards.4chan.org/h/" title="Hentai">h
    </a> /
    <a href="//boards.4chan.org/hr/" title="High Resolution">hr
    </a> /
    <a href="//boards.4chan.org/k/" title="Weapons">k
    </a> /
    <a href="//boards.4chan.org/m/" title="Mecha">m
    </a> /
    <a href="//boards.4chan.org/o/" title="Auto">o
    </a> /
    <a href="//boards.4chan.org/p/" title="Photo">p
    </a> /
    <a href="//boards.4chan.org/r/" title="Request">r
    </a> /
    <a href="//boards.4chan.org/s/" title="Sexy Beautiful Women">s
    </a> /
    <a href="//boards.4chan.org/t/" title="Torrents">t
    </a> /
    <a href="//boards.4chan.org/u/" title="Yuri">u
    </a> /
    <a href="//boards.4chan.org/v/" title="Video Games">v
    </a> /
    <a href="//boards.4chan.org/vg/" title="Video Game Generals">vg
    </a> /
    <a href="//boards.4chan.org/vr/" title="Retro Games">vr
    </a> /
    <a href="//boards.4chan.org/w/" title="Anime/Wallpapers">w
    </a> /
    <a href="//boards.4chan.org/wg/" title="Wallpapers/General">wg
    </a>] [
    <a href="//boards.4chan.org/i/" title="Oekaki">i
    </a> /
    <a href="//boards.4chan.org/ic/" title="Artwork/Critique">ic
    </a>] [
    <a href="//boards.4chan.org/r9k/" title="ROBOT9001">r9k
    </a>] [
    <a href="//boards.4chan.org/s4s/" title="Shit 4chan Says">s4s
    </a>] [
    <a href="//boards.4chan.org/cm/" title="Cute/Male">cm
    </a> /
    <a href="//boards.4chan.org/hm/" title="Handsome Men">hm
    </a> /
    <a href="//boards.4chan.org/lgbt/" title="LGBT">lgbt
    </a> /
    <a href="//boards.4chan.org/y/" title="Yaoi">y
    </a>] [
    <a href="//boards.4chan.org/3/" title="3DCG">3
    </a> /
    <a href="//boards.4chan.org/adv/" title="Advice">adv
    </a> /
    <a href="//boards.4chan.org/an/" title="Animals & Nature">an
    </a> /
    <a href="//boards.4chan.org/asp/" title="Alternative Sports">asp
    </a> /
    <a href="//boards.4chan.org/cgl/" title="Cosplay & EGL">cgl
    </a> /
    <a href="//boards.4chan.org/ck/" title="Food & Cooking">ck
    </a> /
    <a href="//boards.4chan.org/co/" title="Comics & Cartoons">co
    </a> /
    <a href="//boards.4chan.org/diy/" title="Do-It-Yourself">diy
    </a> /
    <a href="//boards.4chan.org/fa/" title="Fashion">fa
    </a> /
    <a href="//boards.4chan.org/fit/" title="Health & Fitness">fit
    </a> /
    <a href="//boards.4chan.org/gd/" title="Graphic Design">gd
    </a> /
    <a href="//boards.4chan.org/hc/" title="Hardcore">hc
    </a> /
    <a href="//boards.4chan.org/int/" title="International">int
    </a> /
    <a href="//boards.4chan.org/jp/" title="Otaku Culture">jp
    </a> /
    <a href="//boards.4chan.org/lit/" title="Literature">lit
    </a> /
    <a href="//boards.4chan.org/mlp/" title="Pony">mlp
    </a> /
    <a href="//boards.4chan.org/mu/" title="Music">mu
    </a> /
    <a href="//boards.4chan.org/n/" title="Transportation">n
    </a> /
    <a href="//boards.4chan.org/out/" title="Outdoors">out
    </a> /
    <a href="//boards.4chan.org/po/" title="Papercraft & Origami">po
    </a> /
    <a href="//boards.4chan.org/pol/" title="Politically Incorrect">pol
    </a> /
    <a href="//boards.4chan.org/sci/" title="Science & Math">sci
    </a> /
    <a href="//boards.4chan.org/soc/" title="Social">soc
    </a> /
    <a href="//boards.4chan.org/sp/" title="Sports">sp
    </a> /
    <a href="//boards.4chan.org/tg/" title="Traditional Games">tg
    </a> /
    <a href="//boards.4chan.org/toy/" title="Toys">toy
    </a> /
    <a href="//boards.4chan.org/trv/" title="Travel">trv
    </a> /
    <a href="//boards.4chan.org/tv/" title="Television & Film">tv
    </a> /
    <a href="//boards.4chan.org/vp/" title="Pok&eacute;mon">vp
    </a> /
    <a href="//boards.4chan.org/wsg/" title="Worksafe GIF">wsg
    </a> /
    <a href="//boards.4chan.org/x/" title="Paranormal">x
    </a>] [
    <a href="//rs.4chan.org/" title="Fileshares">rs
    </a>] [
    <a href="http://status.4chan.org/" title="4chan Status">status
    </a> /
    <a href="//boards.4chan.org/q/" title="4chan Discussion">q
    </a> /
    <span class="navSmall">
      <a href="//twitter.com/4chan" title="4chan Twitter">@
      </a>
    </span>]
    <span id="navtopright">[
      <a href="javascript:void(0);" id="settingsWindowLink">Settings
      </a>] [
      <a href="//www.4chan.org/" target="_top">Home
      </a>]
    </span>
  </div>
  <div class="boardBanner">
    <a href="index.html">
      <img class="title" src="templates/4chan/fbchanlogo.png" alt="4chan">
    </a>
    <div class="boardTitle">/b/ - Random
    </div>
    <div class="boardSubtitle">The stories and information posted here are artistic works of fiction and falsehood.
      <br>Only a fool would take anything posted here as fact.
    </div>
  </div>
    <hr>
    <form name="delform" id="delform" action="https://sys.4chan.org/b/imgboard.php" method="post">
      <div class="board" id='content'>

      </div>
      <hr>
    </div>
    <div style="float: right;">
      <div class="deleteform desktop">
        <input type="hidden" name="mode" value="usrdel">Delete Post [
        <input type="checkbox" name="onlyimgdel" value="on">File Only] Password
        <input type="password" id="delPassword" name="pwd" maxlength="8">
        <input type="submit" value="Delete">
        <input type="button" value="Report" onclick="var o=document.getElementsByTagName('input');for(var i=0;i
        <o.length;i++)if(o[i].type=='checkbox' && o[i].checked && o[i].value=='delete') return reppop('https://sys.4chan.org/b/imgboard.php?mode=report&amp;no='+o[i].name.replace(/[a-z]+/,'')+'');">
      </div>
      <div class="stylechanger desktop">Style
        <select id="styleSelector">
          <option value="Yotsuba New">Yotsuba
          </option>
          <option value="Yotsuba B New">Yotsuba B
          </option>
          <option value="Futaba New">Futaba
          </option>
          <option value="Burichan New">Burichan
          </option>
          <option value="Tomorrow">Tomorrow
          </option>
          <option value="Photon">Photon
          </option>
        </select>
      </div>
    </div>
  </form>
  <div class="pagelist desktop">
    <div class="prev">
      <span>Previous
      </span>
    </div>
    <div class="pages">[
      <strong>
        <a href="">0
        </a>
      </strong>] [
      <a href="1">1
      </a>] [
      <a href="2">2
      </a>] [
      <a href="3">3
      </a>] [
      <a href="4">4
      </a>] [
      <a href="5">5
      </a>] [
      <a href="6">6
      </a>] [
      <a href="7">7
      </a>] [
      <a href="8">8
      </a>] [
      <a href="9">9
      </a>] [
      <a href="10">10
      </a>] [
      <a href="11">11
      </a>] [
      <a href="12">12
      </a>] [
      <a href="13">13
      </a>] [
      <a href="14">14
      </a>] [
      <a href="15">15
      </a>]
    </div>
    <div class="next">
      <form action="1" onsubmit="location=this.action; return false;">
        <input type="submit" value="Next" accesskey="x">
      </form>
    </div>
    <div class="pages cataloglink">
      <a href="//boards.4chan.org/b/catalog">Catalog
      </a>
    </div>
  </div>
  <div id="boardNavDesktopFoot" class="desktop">[
    <a href="//boards.4chan.org/a/" title="Anime & Manga">a
    </a> /
    <a href="//boards.4chan.org/b/" title="Random">b
    </a> /
    <a href="//boards.4chan.org/c/" title="Anime/Cute">c
    </a> /
    <a href="//boards.4chan.org/d/" title="Hentai/Alternative">d
    </a> /
    <a href="//boards.4chan.org/e/" title="Ecchi">e
    </a> /
    <a href="//boards.4chan.org/f/" title="Flash">f
    </a> /
    <a href="//boards.4chan.org/g/" title="Technology">g
    </a> /
    <a href="//boards.4chan.org/gif/" title="Adult GIF">gif
    </a> /
    <a href="//boards.4chan.org/h/" title="Hentai">h
    </a> /
    <a href="//boards.4chan.org/hr/" title="High Resolution">hr
    </a> /
    <a href="//boards.4chan.org/k/" title="Weapons">k
    </a> /
    <a href="//boards.4chan.org/m/" title="Mecha">m
    </a> /
    <a href="//boards.4chan.org/o/" title="Auto">o
    </a> /
    <a href="//boards.4chan.org/p/" title="Photo">p
    </a> /
    <a href="//boards.4chan.org/r/" title="Request">r
    </a> /
    <a href="//boards.4chan.org/s/" title="Sexy Beautiful Women">s
    </a> /
    <a href="//boards.4chan.org/t/" title="Torrents">t
    </a> /
    <a href="//boards.4chan.org/u/" title="Yuri">u
    </a> /
    <a href="//boards.4chan.org/v/" title="Video Games">v
    </a> /
    <a href="//boards.4chan.org/vg/" title="Video Game Generals">vg
    </a> /
    <a href="//boards.4chan.org/vr/" title="Retro Games">vr
    </a> /
    <a href="//boards.4chan.org/w/" title="Anime/Wallpapers">w
    </a> /
    <a href="//boards.4chan.org/wg/" title="Wallpapers/General">wg
    </a>] [
    <a href="//boards.4chan.org/i/" title="Oekaki">i
    </a> /
    <a href="//boards.4chan.org/ic/" title="Artwork/Critique">ic
    </a>] [
    <a href="//boards.4chan.org/r9k/" title="ROBOT9001">r9k
    </a>] [
    <a href="//boards.4chan.org/s4s/" title="Shit 4chan Says">s4s
    </a>] [
    <a href="//boards.4chan.org/cm/" title="Cute/Male">cm
    </a> /
    <a href="//boards.4chan.org/hm/" title="Handsome Men">hm
    </a> /
    <a href="//boards.4chan.org/lgbt/" title="LGBT">lgbt
    </a> /
    <a href="//boards.4chan.org/y/" title="Yaoi">y
    </a>] [
    <a href="//boards.4chan.org/3/" title="3DCG">3
    </a> /
    <a href="//boards.4chan.org/adv/" title="Advice">adv
    </a> /
    <a href="//boards.4chan.org/an/" title="Animals & Nature">an
    </a> /
    <a href="//boards.4chan.org/asp/" title="Alternative Sports">asp
    </a> /
    <a href="//boards.4chan.org/cgl/" title="Cosplay & EGL">cgl
    </a> /
    <a href="//boards.4chan.org/ck/" title="Food & Cooking">ck
    </a> /
    <a href="//boards.4chan.org/co/" title="Comics & Cartoons">co
    </a> /
    <a href="//boards.4chan.org/diy/" title="Do-It-Yourself">diy
    </a> /
    <a href="//boards.4chan.org/fa/" title="Fashion">fa
    </a> /
    <a href="//boards.4chan.org/fit/" title="Health & Fitness">fit
    </a> /
    <a href="//boards.4chan.org/gd/" title="Graphic Design">gd
    </a> /
    <a href="//boards.4chan.org/hc/" title="Hardcore">hc
    </a> /
    <a href="//boards.4chan.org/int/" title="International">int
    </a> /
    <a href="//boards.4chan.org/jp/" title="Otaku Culture">jp
    </a> /
    <a href="//boards.4chan.org/lit/" title="Literature">lit
    </a> /
    <a href="//boards.4chan.org/mlp/" title="Pony">mlp
    </a> /
    <a href="//boards.4chan.org/mu/" title="Music">mu
    </a> /
    <a href="//boards.4chan.org/n/" title="Transportation">n
    </a> /
    <a href="//boards.4chan.org/out/" title="Outdoors">out
    </a> /
    <a href="//boards.4chan.org/po/" title="Papercraft & Origami">po
    </a> /
    <a href="//boards.4chan.org/pol/" title="Politically Incorrect">pol
    </a> /
    <a href="//boards.4chan.org/sci/" title="Science & Math">sci
    </a> /
    <a href="//boards.4chan.org/soc/" title="Social">soc
    </a> /
    <a href="//boards.4chan.org/sp/" title="Sports">sp
    </a> /
    <a href="//boards.4chan.org/tg/" title="Traditional Games">tg
    </a> /
    <a href="//boards.4chan.org/toy/" title="Toys">toy
    </a> /
    <a href="//boards.4chan.org/trv/" title="Travel">trv
    </a> /
    <a href="//boards.4chan.org/tv/" title="Television & Film">tv
    </a> /
    <a href="//boards.4chan.org/vp/" title="Pok&eacute;mon">vp
    </a> /
    <a href="//boards.4chan.org/wsg/" title="Worksafe GIF">wsg
    </a> /
    <a href="//boards.4chan.org/x/" title="Paranormal">x
    </a>] [
    <a href="//rs.4chan.org/" title="Fileshares">rs
    </a>] [
    <a href="http://status.4chan.org/" title="4chan Status">status
    </a> /
    <a href="//boards.4chan.org/q/" title="4chan Discussion">q
    </a> /
    <span class="navSmall">
      <a href="//twitter.com/4chan" title="4chan Twitter">@
      </a>
    </span>]
    <span id="navbotright">[
      <a href="javascript:void(0);" id="settingsWindowLinkBot">Settings
      </a>] [
      <a href="//www.4chan.org/" target="_top">Home
      </a>]
    </span>
  </div>
  <div id="absbot" class="absBotText">
    <span class="absBotDisclaimer">-
      <a href="http://www.2chan.net/" target="_top" rel="nofollow">futaba
      </a> +
      <a href="//www.4chan.org/" target="_top">yotsuba
      </a> -
      <br>All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
    </span>
  </div>
</div>
<div id="bottom">
</div>
</div>