<link rel="stylesheet" title="switch" href="templates/4chan/stylesheets/yotsubanew.476.css">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/yotsubanew.476.css" title="Yotsuba New">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/yotsubluenew.476.css" title="Yotsuba B New">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/futabanew.476.css" title="Futaba New">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/burichannew.476.css" title="Burichan New">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/photon.476.css" title="Photon">
<link rel="alternate stylesheet" style="text/css" href="templates/4chan/stylesheets/tomorrow.476.css" title="Tomorrow">
<link rel="stylesheet" href="templates/4chan/stylesheets/yotsubamobile.476.css">
